# +-----+
# | Zsh |
# +-----+

# if [[ -n ${ZSH_EVAL_CONTEXT+x} ]]; then
#   source .zsh_aliases
# fi

# navigate directory stack
alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index}"; unset index

# backdir shortcuts
alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'

# directory aliases
hash -d dbox=$DROPBOX
hash -d win=$WINHOME
hash -d git=/mnt/d/git_repos
hash -d coloc=$DROPBOX/Uni/collaborations/Hanno/code

# zcalc
alias bc=zcalc

# zmv
alias mmv='noglob zmv -W'

# +----+
# | ls |
# +----+

# if [[ -x "$(command -v exa)" ]]; then  # bash compliant
if (( $+commands[exa] )); then
  alias exa='exa --color=auto --group-directories-first'
  alias ls='exa'
  alias ll='exa -la'
  alias la='exa -a'
  alias lt='exa -T'
else
  alias ls='ls --color=auto --group-directories-first'
  alias ll='ls -lah'
  alias la='ls -A'
fi

# +-----+
# | bat |
# +-----+

if (( $+commands[batcat] )); then
    alias bat='batcat'
    alias cat='batcat --pager=never --style=plain'
elif (( $+commands[bat] )); then
    alias cat='bat --pager=never --style=plain'
fi

# +------+
# | grep |
# +------+

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# +-----------+
# | df and du |
# +-----------+

alias df='df -h'  # make df human readable
alias du='du -h'  # make du human readable

# +--------+
# | Neovim |
# +--------+

if (( $+commands[exa] )); then
    alias vim='nvim'
    alias vi='nvim'
    alias svim='sudoedit'
fi

alias nvim-lazy="NVIM_APPNAME=nvim-lazy nvim"
alias nvim-chad="NVIM_APPNAME=nvim-chad nvim"
alias nvim-kick="NVIM_APPNAME=nvim-kickstart nvim"

# +--------+
# | python |
# +--------+

if (( $+commands[micromamba] )); then
    alias mamba='micromamba'
fi

# create virtual environment and add dependencies from requirements.txt (if exists)
alias ve='python3 -m venv ./venv \
    && [[ -f "requirements.txt" ]] \
    && python -m pip install -r requirements.txt'
alias va='source ./venv/bin/activate'  # activate venv in current shell

# +--------+
# | jekyll |
# +--------+
alias serve-site-eth="bundle exec jekyll serve --host=$(ifconfig eth0 | grep inet | grep -v inet6 | awk '{print $2}') --baseurl="
alias serve-site-lo="bundle exec jekyll serve --host=$(ifconfig lo | grep inet | grep -v inet6 | awk '{print $2}') --baseurl="

# +--------+
# | docker |
# +--------+

# start docker daemon without systemd
alias dockerd_wsl='wsl.exe --distribution "${WSL_DISTRO_NAME}" \
    --user root --exec /usr/sbin/service docker start > /dev/null 2>&1'

# +-------+
# | rsync |
# +-------+

alias rsync='rsync --include="**.gitignore" --exclude="/.git" --filter=":- .gitignore"'

# +-----+
# | wsl |
# +-----+

alias ee='explorer.exe .'  # run explorer in current directory

# +-----+
# | vpn |
# +-----+

 alias vpn-up='sudo openconnect --background \
    --user ulbricht  \
    --os=win \
    --useragent="AnyConnect Windows 5.0.02075" \
    eaglevpn.bc.edu'

function vpn-down() {
  sudo kill -2 `pgrep openconnect`
}
